@use "../../../styles/abstracts/colors" as *;

.color_menu {
  background-color: #252525;
  position: absolute;
  top: -10px;
  width: 165px;
  padding: 0 8px 8px 8px;
  z-index: 9999;
  font-size: 14px;

  .color_menu_dropdown {
    color: wheat;
    margin: 8px 0;
    font-size: 10px;
  }

  .color_dropdown_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .info {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 4px;
      font-size: 13px;

      .default {
        font-size: 16px;
        padding: 2px 4px;
        color: white;
      }

      .gray {
        font-size: 16px;
        padding: 2px 4px;
        color: gray;
      }

      .brown {
        font-size: 16px;
        padding: 2px 4px;
        color: brown;
      }

      .orange {
        font-size: 16px;
        padding: 2px 4px;
        color: orange;
      }

      .yellow {
        font-size: 16px;
        padding: 2px 4px;
        color: yellow;
      }

      .green {
        font-size: 16px;
        padding: 2px 4px;
        color: green;
      }

      .blue {
        font-size: 16px;
        padding: 2px 4px;
        color: blue;
      }

      .purple {
        font-size: 16px;
        padding: 2px 4px;
        color: purple;
      }

      .pink {
        font-size: 16px;
        padding: 2px 4px;
        color: pink;
      }

      .red {
        font-size: 16px;
        padding: 2px 4px;
        color: red;
      }

      .background_red {
        font-size: 16px;
        padding: 2px 6px;
        border-radius: 2px;
        background-color: red;
        color: white;
      }

      .background_gray {
        font-size: 16px;
        padding: 2px 6px;
        border-radius: 2px;
        background-color: gray;
        color: white;
      }

      .background_brown {
        font-size: 16px;
        padding: 2px 6px;
        border-radius: 2px;
        background-color: brown;
        color: white;
      }

      .background_orange {
        font-size: 16px;
        padding: 2px 6px;
        border-radius: 2px;
        background-color: orange;
        color: white;
      }

      .background_yellow {
        font-size: 16px;
        padding: 2px 6px;
        border-radius: 2px;
        background-color: yellow;
        color: white;
      }

      .background_green {
        font-size: 16px;
        padding: 2px 6px;
        border-radius: 2px;
        background-color: green;
        color: white;
      }

      .background_blue {
        font-size: 16px;
        padding: 2px 6px;
        border-radius: 2px;
        background-color: blue;
        color: white;
      }

      .background_purple {
        font-size: 16px;
        padding: 2px 6px;
        border-radius: 2px;
        background-color: purple;
        color: white;
      }

      .background_pink {
        font-size: 16px;
        padding: 2px 6px;
        border-radius: 2px;
        background-color: pink;
        color: white;
      }

      .label {
        padding-left: 8px;
        color: white;
      }

      &:hover {
        background-color: #161616;
      }
    }
  }
}

.color_toggle_dropdown {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 2px 8px;

  .icon {
    fill: $color-primary;
    padding: 8px 0 0 2px;
  }

  &:hover {
    background-color: #161616;
  }
}
