@use "../../styles/abstracts/colors" as *;

.content {
  overflow-y: auto;
  height: calc(100vh);

  .cover {
    width: 100%;
    height: 280px;
    overflow: hidden;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .image_footer {
    position: relative;
    background-color: $dark-background-primary;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;

    .image_option {
      position: absolute;
      top: -30px;
      font-size: 12px;
      padding: 4px 8px;
      background-color: $dark-background-tertiary;
      color: $color-primary;
      cursor: pointer;

      &:first-child {
        right: 173px;
        border-radius: 4px 0 0 4px;
        border-right: 1px solid $color-primary;
      }

      &:last-child {
        right: 100px;
        border-radius: 0 4px 4px 0;
      }

      &:hover {
        background-color: $dark-background-hover;
      }
    }
  }

  .no_cover {
    height: 150px;
    background-color: $dark-background-secondary;
  }

  .page_content {
    width: 100%;
    height: 100%;
    background-color: $background-secondary;
    padding-bottom: 500px;

    .emoji_display {
      position: relative;
      width: 80px;

      img {
        cursor: pointer;
        width: 80px;
        position: absolute;
        top: -45px;
        left: 90px;
      }
    }

    .page_header_options {
      padding-top: 36px;
      display: flex;
      margin-left: 90px;
      color: $dark-color-primary;

      .add_button {
        display: flex;
        align-items: center;
        font-size: 14px;
        border-radius: 2px;
        height: 20px;
        padding: 2px 8px;
        fill: $dark-color-primary;
        cursor: pointer;

        &:hover {
          background-color: $color-secondary;
        }
      }
    }

    form {
      padding: 10px 0 0 75px;

      input {
        width: 90%;
        background-color: inherit;
        border: none;
        outline: none;
        font-size: 44px;
        font-family: sans-serif;
        font-weight: 800;
        padding: 10px;
        color: $dark-color-tertiary;

        &::placeholder {
          color: $background-hover;
        }
      }
    }
  }

  .full_width {
    .emoji_display {
      img {
        left: 480px;
      }
    }

    .page_header_options {
      margin-left: 480px;
    }

    form {
      padding: 10px 0 0 475px;
    }
  }

  .small_text {
    form {
      input {
        font-size: 32px;
      }
    }
  }

  .serif {
    form {
      input {
        font-family: serif;
      }
    }
  }

  .mono {
    form {
      input {
        font-family: monospace;
      }
    }
  }
}

.dark {
  .page_content {
    background-color: $dark-background-secondary;

    .page_header_options {
      .add_button {
        fill: $color-primary;

        &:hover {
          background-color: $dark-background-hover-two;
        }
      }
    }

    form {
      input {
        color: $color-secondary;

        &::placeholder {
          color: $dark-background-hover;
        }
      }
    }
  }
}
