@use "../../styles/abstracts/colors" as *;

.page_dropdown {
  margin-left: 20px;

  .no_content {
    padding: 8px 0;

    p {
      margin: 0;
      font-size: 14px;
    }
  }

  .page_tab {
    margin: 0px 4px;
    border-radius: 2px;
    padding: 4px 0;

    .page_info {
      display: flex;
      align-items: center;
      height: 26px;

      .collapse_handle {
        margin-left: 8px;
        padding: 1px 3px;
        border-radius: 2px;
        fill: $color-primary;
        cursor: pointer;

        &:hover {
          background-color: $color-secondary;
        }
      }

      .nav_link {
        text-decoration: none;
        color: $color-primary;
        width: 100%;
        display: flex;

        .page_emoji {
          margin-left: 4px;
          cursor: pointer;

          img {
            width: 18px;
          }
        }

        .page_title {
          margin-left: 6px;
          font-size: 14px;
          width: 65%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          cursor: pointer;
        }
      }

      .page_settings {
        width: 15%;
        display: flex;
        justify-content: space-around;

        .add_icon {
          padding: 2px;
          border-radius: 2px;
          cursor: pointer;
          fill: $color-primary;

          &:hover {
            background-color: $color-secondary;
          }
        }
      }
    }

    &:hover {
      background-color: $background-hover;
    }

    .toggle_checkbox {
      display: none;

      &:checked + .tab_dropdown {
        display: block;
      }
    }

    .tab_dropdown {
      display: none;
      width: 100%;
    }
  }

  .active {
    background-color: $background-hover;
  }
}

.dark {
  .page_tab {
    .page_info {
      .collapse_handle {
        fill: $dark-color-primary;

        &:hover {
          background-color: $dark-background-hover-two;
        }
      }

      .page_settings {
        .add_icon {
          fill: $dark-color-primary;

          &:hover {
            background-color: $dark-background-hover-two;
          }
        }
      }
    }

    &:hover {
      background-color: $dark-background-hover;
    }
  }

  .active {
    background-color: $dark-background-hover;
  }
}
