$primary: #2383e2;
$primary-shadow: #1d63aa;
$secondary: #42a1ff;
$danger: #eb5757;
$color-primary: #838383;
$color-secondary: #d4d4d4;
$color-tertiary: #d6d6d6;
$dark-color-primary: #848380;
$dark-color-secondary: #55534e;
$dark-color-tertiary: #403e38;
$background-hover: #f1f1f0;
$background-primary: #fbfbfa;
$background-secondary: #ffffff;
$background-tertiary: #f7f7f5;
$dark-background-hover: #2c2c2c;
$dark-background-hover-two: #333333;
$dark-background-hover-three: #535454;
$dark-background-primary: #202020;
$dark-background-secondary: #191919;
$dark-background-tertiary: #252525;
$dark-background-quaternary: #272727;
$dark-background-quinary: #252525;
$dark-scroll-thumb: #474c50;
$dark-scroll-track: #272727;
$scroll-thumb: #d3d1cb;
$scroll-track: #edece9;
