@use "../../styles/abstracts/colors" as *;

.sort_panel_background {
  width: 100vw;
  height: 100vw;
  position: fixed;
  cursor: auto;
  z-index: 1;

  .sort_panel {
    position: absolute;
    top: -8px;
    left: 610px;
    width: 175px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 4px 4px;
    display: flex;
    flex-direction: column;
    background-color: $background-secondary;

    .tab {
      padding: 4px 16px;
      border-radius: 2px;
      color: $dark-color-tertiary;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        background-color: $background-hover;
      }
    }
  }
}

.dark {
  .sort_panel {
    background-color: $dark-background-quinary;

    .tab {
      color: $color-tertiary;

      &:hover {
        background-color: $dark-background-hover;
      }
    }
  }
}
