@use "../../styles/abstracts/colors" as *;

.create_page_background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);

  .create_page {
    width: 975px;
    height: 800px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: $background-secondary;
    display: flex;
    flex-direction: column;

    .header {
      border: 1px solid red;
      display: flex;
      justify-content: space-between;
      height: 44px;

      .left_options {
        display: flex;
        align-items: center;
        margin-left: 4px;

        .icon {
          display: flex;
          align-items: center;
          margin: 0 0 0 10px;
          fill: $dark-color-tertiary;
        }

        .tab_divider {
          p {
            margin: 4px 8px;
            padding: 8px 4px;
            color: $dark-color-tertiary;
            font-size: 14px;
          }
        }

        .add_to {
          .text {
            p {
              font-size: 14px;
            }
          }

          .parent_page_icon {
          }
        }
      }

      .right_options {
        display: flex;
        align-items: center;
        border: 1px solid purple;
      }
    }
  }
}

.dark {
  background-color: rgb(0, 0, 0, 0.5);

  .create_page {
    background-color: $dark-background-primary;

    .header {
      .left_options {
        .icon {
          fill: $color-primary;
        }
      }
    }
  }
}
