@use "../../styles/abstracts/colors" as *;
@use "../../styles/abstracts/layouts" as *;

.container {
  height: 100vh;

  .nav {
    display: flex;
    padding: 24px 0 0 300px;

    .logo {
      width: 50px;
      height: 50px;
    }

    p {
      margin-left: 0.5em;
      font-size: 1.2em;
    }
  }
}

.light {
  background-color: $background-secondary;
}

.dark {
  background-color: $dark-background-secondary;
  color: $background-secondary;

  .login_panel {
    a {
      color: $color-secondary;
    }

    form {
      label {
        color: $color-secondary;
      }

      input {
        background-color: $dark-background-primary;
        border: 2px solid $dark-background-secondary;
        color: $background-secondary;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    .nav {
      padding: 24px 0 0 64px;
    }

    .login_panel {
      padding: 20px;
      min-height: 70vh;

      h1 {
        font-size: 44px;
      }
    }
  }
}
