@use "../../styles/abstracts/colors" as *;

.left_open {
  width: 220px;
}

.left_closed {
  width: 0;
}

.left {
  transition: width 0.3s ease-in-out;

  .sidebar {
    width: 220px;
    height: 100vh;

    .header {
      display: flex;
      height: 45px;
      cursor: pointer;

      .icon {
        font-size: 2em;
        padding: 0 10px;
      }

      &:hover {
        background-color: $background-hover;
      }
    }

    .content {
      width: 100%;
      height: 100vh;
    }
  }
}

.light {
  background-color: $background-primary;
  color: $color-primary;
}

.dark {
  background-color: $dark-background-primary;
  color: $color-primary;

  .sidebar {
    .header {
      &:hover {
        background-color: $dark-background-hover;
      }
    }
  }
}
