@use "../../../styles/abstracts/colors" as *;

.media_node_view {
  display: flex;
  width: 90vw;
  transition: width 0.4s ease-in-out;

  .inner_media {
    width: fit-content;
    display: flex;
    position: relative;

    .media_box {
      border-radius: 5px;
    }

    .horizontal_resize_handle {
      cursor: ew-resize;
      border-right: 5px solid transparent;
    }

    .media_control_buttons {
      display: none;
      position: absolute;
      right: 0;
      padding-right: 5px;
      border-radius: 5px;
      background-color: rgba(17, 8, 8, 0.2);

      .btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-radius: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: $background-secondary;
      }

      .active {
        background-color: black;
        color: white;
      }
    }
  }

  .group {
    position: relative;

    &:hover .media_control_buttons {
      display: flex;
    }

    &:hover .horizontal_resize_handle {
      border-right: 5px solid $dark-background-hover-three;
    }
  }
}

.f_left {
  float: left;
}

.f_right {
  float: right;
}

.justify_start {
  justify-content: flex-start;
}

.justify_end {
  justify-content: flex-end;
}

.justify_center {
  justify-content: center;
}

.right_open {
  width: 1150px;
}

.right_open.full_width {
  width: 300px;
}

.media_node_view.left_open {
  width: 75vw;
}

.media_node_view.right_open {
  width: 70vw;
}

.media_node_view.left_open.right_open {
  width: 60vw;
}

.full_width {
  width: 50vw;
}

.full_width.left_open {
  width: 38vw;
}

.full_width.right_open {
  width: 40vw;
}

.full_width.left_open.right_open {
  width: 30vw;
}

.dark {
  .inner_media {
    .media_control_buttons {
      .btn {
        color: $dark-background-secondary;
      }
    }
  }
}

@media screen and (max-width: 1320px) {
  .media_node_view {
    width: 85vw;
  }
}
